UFES - TEP I/Abstract_Data_Types_with_Macro_Templates
UFES - Prog II/COVID-19_public_data_analysis
UFES - ED I/PlayED-Data_Structures
UFES - ED I/File_Compressor-Huffman_Algorithm
UFES - Prog III/Brazilian_Electoral_System
UFES - CG/2D_Fight_Arena_with_OpenGL
UFES - TBO/Travelling_Salesman
*.o
**/bin/**
